.navbar {
  background: #1976d2;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--inter-font);
}

  .navbar .logo {
    margin: 0;
    color: white;
  }

  .navbar .nav-links a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.01125rem;
    transition: color 0.3s ease;
  }

    .navbar .nav-links a:last-child {
      margin-right: 0;
    }
